@tailwind base;
@tailwind components;
@tailwind utilities;

.leader-crown {
  transform: rotate(-33deg);
  position: absolute;
  top: -10px;
  left: -8px;
  filter: drop-shadow(0px 0px 2px rgba(31, 31, 31, 0.5));
}

.game-container-border {
  @apply border-gray-200 md:rounded-xl md:border-4 md:px-5 md:py-2 2xl:mx-auto 2xl:min-w-[1100px] w-full 2xl:w-full 2xl:max-w-[1300px];
}

.leader-crown:hover {
  animation: jumping-crown 0.5s ease-in-out forwards;
}

@keyframes jumping-crown {
  0% {
    transform: rotate(-33deg) translate(0, 0) scale(1);
  }
  25% {
    transform: rotate(-25deg) translate(0px, -8px) scale(1.1);
  }
  50% {
    transform: rotate(-25deg) translate(3px, -2px) scale(1);
  }
  100% {
    transform: rotate(-33deg) translate(0, 0) scale(1);
  }
}

.emoji-404 {
  position: relative;
  animation: mymove 2.5s infinite;
}

@keyframes mymove {
  33% {
    top: 0px;
  }
  66% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}

.min-h-screen-safe {
  min-height: 100svh;
}

.bg-accent-translucid {
  @apply  bg-white bg-opacity-10;
}

.bg-destaque-mobile {
  @apply  bg-white bg-opacity-[0.05]  md:bg-transparent;
}

.bg-card {
  @apply  bg-white bg-opacity-[0.5];
}



@media screen and (max-width: 768px){
  .no-animate-mobile {
    @apply  no-animation;
  }
}